#root {
  --red:black;

  
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;


}
.containe{
  width: 1439px;
  margin: 0 auto;
}

@media(max-width:1200px) {

  .containe{
    width:100%;
    margin: 0 auto;
  }

}